# Site Settings
lang: en
title: Home
tagline: Phat Truong Machine Learning Specialist
email: phattruong.psn@gmail.com
description: >
  The personal site of Phat Truong, a place to show myself and write blogs
baseurl: 
url: "https://phattruongai.github.io"
permalink: pretty
favicon: /favicon.png
gh_sponsor:
hide_share_buttons: false
theme_color: '#333333'
fixed_navbar: top
home: Trang chá»§

# theme: bulma-clean-theme 
remote_theme: chrisrhymes

paginate: 5
paginate_path: "/blog/page:num"


# Disqus Comments
disqus:
  # Leave shortname blank to disable comments site-wide.
  # Disable comments for any post by adding `comments: false` to that post's YAML Front Matter.
  # shortname: my_disqus_shortname
  shortname: 

fb_comment_id: "137976551652832"


plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag
  - kramdown-parser-gfm

exclude: 
  - Gemfile
  - clean-theme.gemspec
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

livereload: false

sass:
  style: compressed
  source_dir: _sass

#google_analytics: UA-code-here

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      show_sidebar: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      author: "Phat Truong"
      layout: post
      image: 
      show_sidebar: true

markdown: kramdown
highlighter: rouge

footer_menu: example_footer_menu

collections:
  products: 
    output: true
    layout: product
    image: https://via.placeholder.com/800x600
    show_sidebar: false
