<div class="card">
    {% if post.image %}
    <div class="card-image">
        <figure class="image is-4by1">
            <img src="{{ post.image }}" alt="{{ post.title }}">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a class="title is-5" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
        </div>
        <!-- <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary is-small">Xem thêm</a>
        </div> -->
    </div>
    {% else %}
    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </header>
    {% endif %}
    <!-- <div class="card-content">
        <div class="content">
            <div class="block">
            {% if post.image %}
            <a class="title is-4" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
            {% endif %}
            </div>
            <div class="block">
            {% if post.summary %}
                {{ post.summary | markdownify }}
            {% else %}
                <p>{{ post.excerpt }}</p>
            {% endif %}
            </div>
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Xem thêm</a>
        </div>
    </div> -->
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>