<table class="table">
    <thead>
      <tr>
        <th><i>Công cụ:</i></th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Frameworks:</td>
        <td><a href="https://pytorch.org/" title="pytorch">Pytorch</a></td>
      </tr>
      <tr>
        <td>MLOps để chạy thời gian thật:</td>
        <td>
          <a href="https://aws.amazon.com/vi/ec2/?ec2-whats-new.sort-by=item.additionalFields.postDateTime&ec2-whats-new.sort-order=desc" title="ec2">AWS EC2</a> , 
          <a href="https://aws.amazon.com/lambda/" title="lambda">AWS Lambda</a> , 
          <a href="https://aws.amazon.com/elasticache/redis/" title="redis on elasticahe">Redis on AWS Elasticache</a>
        </td>
      </tr>
    </tbody>
  </table>