<table class="table">
    <thead>
      <tr>
        <th><i>Tools:</i></th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Training model</td>
        <td>
            <a href="https://github.com/PaddlePaddle/PaddleOCR" title="PaddleOCR repository">PaddleOCR</a> , 
            <a href="https://aws.amazon.com/vi/ec2/?ec2-whats-new.sort-by=item.additionalFields.postDateTime&ec2-whats-new.sort-order=desc" title="EC2">AWS EC2</a> , 
            <a href="https://www.docker.com/" title="Docker">Docker</a> 
        </td>
      </tr>
      <tr>
        <td>Monitor, Management training process</td>
        <td><a href="https://wandb.ai/site" title="wandb">Weights & Biases</a></td>
      </tr>
      <tr> 
        <td>Deploy model</td>
        <td><a href="https://fastapi.tiangolo.com/" title="fastapi">FastAPI</a></td>
      </tr>
    </tbody>
  </table>